@using Microsoft.AspNetCore.Identity
@using Sofranet.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg sofranet-navbar">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.svg" alt="Sofranet" width="36" height="36" class="me-2" />
            <span class="fw-bold">Sofranet</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Menu" asp-action="Index">Menüler</a>
                </li>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Yönetim
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Users">Kullanıcılar</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Caterers">Restoranlar</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Orders">Siparişler</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Logs">Loglar</a></li>
                        </ul>
                    </li>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Caterer"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Caterer" asp-action="Index">Panelim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Caterer" asp-action="Orders">Siparişler</a>
                    </li>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">Panelim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Order" asp-action="MyOrders">Siparişlerim</a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cart" asp-action="Index">
                                Sepet
                            </a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
                            @User.Identity?.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="dropdown-item">Çıkış Yap</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-light btn-sm ms-2 px-3 text-primary" asp-controller="Account" asp-action="Register">Üye Ol</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
