<% if (messages.success && messages.success.length) { %>
  <% messages.success.forEach(function(m){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= m %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>

<% if (messages.error && messages.error.length) { %>
  <% messages.error.forEach(function(m){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= m %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>

<% if (messages.info && messages.info.length) { %>
  <% messages.info.forEach(function(m){ %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= m %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>
